**Import relevant libraries**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# import dataset in the dataframe wcat_df 
wcat_df = pd.read_csv('wc-at.csv')
wcat_df.head()

   Waist     AT
0  74.75  25.72
1  72.60  25.89
2  81.80  42.60
3  83.95  42.80
4  74.65  29.84

In [4]:
# A check to see the column names
wcat_df.columns

Index(['Waist', 'AT'], dtype='object')

In [5]:
# A check to know the details of the dataframe
wcat_df.describe()

            Waist          AT
count  109.000000  109.000000
mean    91.901835  101.894037
std     13.559116   57.294763
min     63.500000   11.440000
25%     80.000000   50.880000
50%     90.800000   96.540000
75%    104.000000  137.000000
max    121.000000  253.000000

In [6]:
# A check for null values.
df.isnull().any()

Waist    False
AT       False
dtype: bool

In [7]:
df.isnull().sum()

Waist    0
AT       0
dtype: int64