In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('wc-at.csv')
df

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [4]:
df.columns

Index(['Waist', 'AT'], dtype='object')

In [5]:
df.describe()

            Waist          AT
count  109.000000  109.000000
mean    91.901835  101.894037
std     13.559116   57.294763
min     63.500000   11.440000
25%     80.000000   50.880000
50%     90.800000   96.540000
75%    104.000000  137.000000
max    121.000000  253.000000

In [6]:
df.isnull().any()

Waist    False
AT       False
dtype: bool

In [7]:
df.isnull().sum()

Waist    0
AT       0
dtype: int64